* {
  background-color:yellowgreen;
}

body {
  background-color:yellowgreen;
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: paleturquoise;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: lightcoral;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: lightgreen;
  background-color: transparent;
  text-decoration: underline;
}
