* {
  background-color:mediumaquamarine;
}

body {
  background-color:mediumaquamarine;
}
a:link {
  color: lightcyan;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: lavender;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: lavender;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: lightgreen;
  background-color: transparent;
  text-decoration: underline;
}
