a:link {
  background-color: transparent;
  color: white;
  text-decoration: none;
}

a:visited {
  background-color: transparent;
  color: mediumvioletred;
  text-decoration: none;
}

a:hover {
  background-color: transparent;
  color: lightcoral;
  text-decoration: underline;
}

a:active {
  background-color: transparent;
  color: lightgreen;
  text-decoration: underline;
}

* {
  background-color: yellowgreen;
}

body {
  background-color: yellowgreen;
  padding: 2.5%;
}
