.container {
  background-color:skyblue;
  background-image: (https://caseybeauparlant.github.io/gra-321/code-exercises/img/daniel-sessler-2QvXg7Ur8HY-unsplash.jpg);
  backgorund-size; cover;
  height:700px;
  margin: 0 auto;
  width:50%;
}

.padding-hover:hover {
  background-color: peru;
  border: solid dodgerblue;
  color: pink;
  text-decoration:underline;
}

* {
background-color:skyblue;
}

a{
  background-color:transparent;
  color: teal;
  display: inline;
  font-family: Arial, sans-serif;
  padding: 2em;
  text-decoration: none;
  width: 20%;
}

body {
  background-color:skyblue;
  padding: 2.5%;
}

button {
  background-color: lightseagreen;
  border: solid steelblue;
  color: white;
  font-family: Arial, sans-serif;
  padding: 16px 40px 16px 40px;
  text-transform: uppercase;
}

h2 {
  color: lightseagreen;
  font-size:52px;
  position:relative;
  text-align:center;
  top:200px;
}
