@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.container {
  background-image:
  url(https://caseybeauparlant.github.io/gra-321/code-exercises/img/daniel-sessler-2QvXg7Ur8HY-unsplash.jpg);
  background-size: cover;
  height: 800px;
  margin: 0 auto;
  width: 70%;
}

.padding-hover:hover {
  background-color: peru;
  border: solid dodgerblue;
  color: pink;
  text-decoration:underline;
}

* {
font-family: 'Lato', sans-serif;
background-color:skyblue;
}

a{
  background-color:transparent;
  color: white;
  display: inline;
  padding: 2em;
  text-decoration: none;
  width: 20%;
}

body {
  background-color:skyblue;
  padding: 2.5%;
}

button {
  background-color: lightseagreen;
  border: solid steelblue;
  color: white;
  padding: 16px 40px 16px 40px;
  text-transform: uppercase;
}

h2 {
  background-color:transparent;
  color: darkgoldenrod;
  font-size:100px;
  position:relative;
  text-align: right;
  top:470px;
}

p {
  font-size:55px;
  font-weight:500;
  text-align:center;
  width: 100%;
  margin: 0 auto;
  top: 65px;
  position: relative;
}

@media screen and (max-width: 1000px) {
  body, * {
    background-color: palevioletred;
}
}

@media screen and (max-width: 500px) {
  body, * {
    background-color: goldenrod;
}
}
