* {
background-color:skyblue;
}

body {
  background-color:skyblue;
  padding: 2.5%;
}

a{
  background-color:transparent;
  color: teal;
  display: inline;
  font-family: Arial, sans-serif;
  padding: 2em;
  width: 20%;
  text-decoration: none;
}

button {
  background-color: lightseagreen;
  border: solid steelblue;
  color: white;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  padding: 16px 40px 16px 40px;
}

.padding-hover:hover {
  background-color: peru;
  border: solid dodgerblue;
  color: pink;
  text-decoration:underline;
}

.visited-gray:visited {
  color: LightGray;
}
