@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  font-family: "Lato", sans-serif;
}

a {
  background-color: transparent;
  color: skyblue;
  display: inline-block;
  padding: 2em;
  text-decoration: none;
  width: 20%;
}

body {
  padding: 2.5%;
}

.flexbox-container-1 {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: left;
  height: 1863px;
  width: 1440px;
  background-color: white;
  border: 1px solid grey;
}

.flexbox-container-2 {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: left;
  height: 336px;
  width: 800px;
}

.flexbox-container-3 {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: left;
}

.flexbox-container-4 {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: right;
}

.image {
  padding-top: 75px;
  padding-left: 168px;
}

.bmd-text {
  position: relative;
  padding-left: 168px;
  padding-top: 25px;
  color: #2c2b2b;
}

.serif-text {
  position: relative;
  padding-left: 168px;
  padding-top: 0px;
  color: #2c2b2b;
}

.body-copy-left {
  position: relative;
  padding-left: 168px;
  padding-top: 20px;
  font-family: "roboto", sans-serif;
  font-size: 16.75px;
  line-height: 25.25px;
  color: #2c2b2b;
}

.body-copy-right {
  position: absolute;
  padding-left: 23px;
  padding-top: 20px;
  font-family: "roboto", sans-serif;
  font-size: 16.75px;
  line-height: 25.25px;
  color: #2c2b2b;
}

.page-footer {
  align: bottom;
  padding-left: 262px;
  padding-top: 437px;
}

h2 {
  font-family: "Nunito Sans", sans-serif;
  color: #2c2b2b;
  font-size: 53px;
  font-weight: 1000;
  line-height: 50px;
}

h4 {
  font-family: "EB Garamond", sans-serif;
  font-size: 26px;
  line-height: 30px;
  font-weight: 400;
  color: #2c2b2b;
}
